<!-- Custom template goes here -->

<div class="main-photo">
  <div class="container h-100 d-none">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
        <p class="lead">A great starter layout for a landing page</p>
      </div>
    </div>
  </div>
</div>

<section class="py-5 bg-white">
  <div class="container py-5">
    <div class="block py-5">
      <div class="text-center jumbotron  bg-white" style="padding-top: 49px;">
        {{#if guest}}
        <p class="small text-muted">{{guest.name}}</p>
        {{/if}}
        <h1 class="f-abril display-1">{{invite.title}}</h1>
        <p class="text-muted">{{invite.shortMsg}}</p>
      </div>
    </div>
  </div>
</section>

{{#if longMsg}}
<section class="long-msg py-5 shadow-sm bg-semi-light">
  <div class="long-msg my-5 text-center f-dancing py-5 display-4">
    {{{longMsg}}}
  </div>
</section>
{{/if}}

<section class="details pt-5 pb-2 bg-semi-light">
  <div class="row my-5">
    <div class="col-12 col-md-6">
      <div class="card text-white bg-semi-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Venue</h5>
          <p class="card-text">{{invite.addrText}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-2 mt-md-0">
      <div class="card text-white bg-semi-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Time</h5>
          <p class="card-text">{{invite.timeFromString}} - {{endsat invite}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<div class="py-3 container fade-in">
  {{#if guest}}
  <section class="guest mb-4">
    <div class="guest-container d-flex justify-content-center text-muted text-small text-dark bg-none">
      <span class="guest-name">{{guest.name}},</span>
    </div>
  </section>
  {{/if}}

  <section class="main">
    <div class="jumbotron bg-white shadow-lg">
      <h1 class="pacifico display-1 text-center mb-5">{{invite.title}}</h1>
      <div class="roboto lead text-center">{{invite.shortMsg}}</div>
    </div>
    {{#if mainPhoto}}
    <div class="card mb-3">
      <img class="card-img-top" src="{{mainPhoto.url}}" alt="{{mainPhoto.title}}">
      {{#if mainPhoto.title}}
      <div class="row no-gutters">
        <div class="col-12">
        </div>
        <div class="col-12 d-flex align-items-end">
          <div class="card-body comforta">
            <h3 class="card-title">{{mainPhoto.title}}</h3>
            <p class="card-text">{{mainPhoto.description}}</p>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{/if}}
  </section>


  {{#if longMsg}}
  <section class="long-msg bg-info my-5 py-5 shadow-sm">
    <div class="long-msg text-center chilanka">
      {{{longMsg}}}
    </div>
  </section>
  {{/if}}

  {{#if sliderPhotos}}
  <section class="slider">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {{#each sliderPhotos}}
        {{# if @first}}
        <li data-target="#carousel" data-slide-to="{{@index}}" class="active"></li>
        {{else}}
        <li data-target="#carousel" data-slide-to="{{@index}}"></li>
        {{/if}}
        {{/each}}
      </ol>
      <div class="carousel-inner">
        {{#each sliderPhotos}}
        <div class="carousel-item {{# if @first}}active{{/if}}">
          <img class="d-block w-100" src="{{url}}" alt="{{title}}">
          <div class="carousel-caption d-none d-md-block bg-light text-dark comforta">
            <h5>{{title}}</h5>
            <p>{{description}}</p>
          </div>
        </div>
        {{/each}}
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  {{/if}}

  <section class="details mt-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Venue</h5>
            <p class="card-text">{{invite.addrText}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-2 mt-md-0">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">Time</h5>
            <p class="card-text">{{invite.timeFromString}} - {{endsat invite}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
-->